<div>
	<label><%= Greeting %></label>
	<div data-role="fieldcontain">
		<label>First Name</label>
		<input id="firstName" />
	</div>
	<div data-role="fieldcontain">
		<label>Last Name</label>
		<input id="lastName" />
	</div>
	<div data-role="fieldcontain">	
		<label>Nick Name</label>
		<input id="nickName" />
	</div>
	<div data-role="fieldcontain">
	 	<fieldset data-role="controlgroup">
			<input type="checkbox" name="checkbox-1" id="checkbox-1" class="custom" />
			<label for="checkbox-1">I agree to not suck</label>
	    </fieldset>
	</div>
	<a id="getStarted" data-role="button" data-inline="true" href="javascript:void(0)">Get Started</a>
</div>