Enjoy the game!
<ul id="commentsList">
	<% for (var i=0;i < Comments.length; i++) { %>
		<div class="commentBorder">
		<li data-commentid="<%= Comments.at(i).get('_id') %>">
			<div class="msgUser">Fake User Name</div>
			<div class="msgTime"><%= new Date(Comments.at(i).get("timestamp")) %></div>
			<div class="content"><%= Comments.at(i).get("commentcontent") %></div>
		</li>
		</div>
	<% }; %>
</ul>
<div id="saveCommentRegion">
	<textarea id="newCommentContent"></textarea>
	<a id="saveComment" href="javascript:void(0)" class="button">Save comment</a>
</div>
<div class="pull-right input-large">
	<a id="createComment" href="javascript:void(0)" class="button">Create a comment</a>
</div>