<div class="well">
	<ul class="nav nav-tabs nav-stacked">
		<% for (var i=0;i < Comments.length; i++) { %>
			<li data-commentid="<%= Comments.at(i).get('_id') %>">
				<div class="msgUser">Fake User Name</div>
    			<div class="content"><%= Comments.at(i).get("commentcontent") %></div>
    			<div class="msgTime"><%= Comments.at(i).get("timestamp") %></div>
			</li>
		<% }; %>
	</ul>
</div>
<div class="pull-right input-large">
	<a id="createComment" href="javascript:void(0)" class="button">Create a comment</a>
</div>