<div id="wrapper">
	<div id="scroller">
		<!-- <div id="pullDown" class="">
			<span class="pullDownIcon"></span><span class="pullDownLabel">Pull down to refresh...</span>
		</div> -->
		<ul id="thelist" data-role="listview">
			<% for (var i=0;i < Teams.length; i++) { %>
				<li data-teamid="<%= Teams.at(i).get('_id') %>" data-icon="delete">
					<!-- <a href="javascript:void(0)" data-teamid="<%= Teams.at(i).get('_id') %>"><%= Teams.at(i).get("name") %>
					</a> -->
					<a href="javascript:void(0)" data-teamid="<%= Teams.at(i).get('_id') %>"><%= Teams.at(i).get("name") %></a>
				</li>
			<% }; %>
		</ul>
	</div>
</div>