<div>
	<a href="javascript:void(0)" data-inline="true" data-role="button" data-iconpos="notext" data-icon="grid" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span"></a>
	<a id="goBackButton" data-role="button" data-inline="true" data-icon="arrow-l" href="javascript:void(0)">Backward</a>
	<a id="goForwardButton" data-role="button" data-inline="true" data-icon="arrow-r" href="javascript:void(0)">Forward</a>
	<a href="javascript:void(0)" data-inline="true" data-role="button" data-iconpos="notext" data-icon="gear" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span"></a>
</div>

