<div>
	<div id="settings" style="display: inline">
	    <img src="img/gear.png" />
	</div>
	<a id="goBackButton" data-role="button" data-inline="true" data-icon="arrow-l" href="javascript:void(0)">Backward</a>
	<a id="goForwardButton" data-role="button" data-inline="true" data-icon="arrow-r" href="javascript:void(0)">Forward</a>
	<div id="noti_Container" style="display: inline">
	    <img src="img/im.png" />
	    <div class="noti_bubble"><!-- we just have to get sockets to push this number -->2</div>
	</div>
</div>

