<div id="settings">
	<a href="#navigation-panel" data-rel="close">
    	<img src="img/gear.png" />
    </a>
</div>
<a id="goBackButton" data-role="button" data-inline="true" data-icon="arrow-l" href="javascript:void(0)">Backward</a>
<a id="goForwardButton" data-role="button" data-inline="true" data-icon="arrow-r" href="javascript:void(0)">Forward</a>
<div id="noti_Container">
    <img src="img/im.png" />
    <div class="noti_bubble"><!-- we just have to get sockets to push this number -->2</div>
</div>

