<div class="pull-left span12">
Select Your State
<select id="statesList" class="input-medium">
<% for (var i=0;i < States.length; i++) { %>
	<option value="<%= States.at(i).get('_id') %>"><%= States.at(i).get("name") %></option>
<%};%>
</select>
</div>
<div class="pull-left span12">
Select Your Sport
<select id="sportsList" class="input-medium">
<% for (var i=0;i < Sports.length; i++) { %>
	<option value="<%= Sports.at(i).get('_id') %>"><%= Sports.at(i).get("name") %></option>
<%};%>
</select>
</div>
<div class="pull-left span12">
Select Your Team
<select id="teamsList" class="input-medium">
<% for (var i=0;i < Teams.length; i++) { %>
	<option value="<%= Teams.at(i).get('_id') %>"><%= Teams.at(i).get("name") %></option>
<%};%>
</select>
</div>